﻿@using CRUD.Models
@model PostViewModel

@{
    ViewData["Title"] = "New Post";
}

<div class="header">
    <h1>Create Your New Post</h1>
</div>
<div class="post-form">
    @using (Html.BeginForm("Create", "Post", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <span>Author ID</span> @Html.TextBoxFor(p => p.AuthorUserId, new {@readonly = "readonly", value = Model.AuthorUserId})
        <span>Post Title</span> @Html.TextBoxFor(p => p.Title)
        <span>Post Slug</span> @Html.TextBoxFor(p => p.Slug)
        <span>Post Content</span> @Html.TextAreaFor(p => p.Content)

        <input type="submit" value="submit">
    }
</div>