﻿@using CRUD.Models
@model PostViewModel


@{
    if (Model != null) {
        ViewData["Title"] = @Model.Slug;
    }
}


@if (Model != null)
{
    <div class="header">
        <h1>@Model.Title</h1>
        <h3>Author ID: @Model.AuthorUserId</h3>
    </div>
    <div class="post-content">
        <div class="modifier">
            <h5>@Html.ActionLink("Edit", "Edit", new {Slug = @Model.Slug})</h5>
            <h5>@Html.ActionLink("Delete", "Delete", new {Slug = @Model.Slug})</h5>
        </div>
        @Model.Content
    </div>
}