﻿@using CRUD.Models
@model PostViewModel

@{
    ViewData["Title"] = "Edit Your Post";
}

<div class="header">
    <h1>Edit Your Post</h1>
</div>
<div class="post-form">
    @using (Html.BeginForm("Edit", "Post", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <span>Author ID</span> @Html.TextBoxFor(p => p.AuthorUserId, new {@readonly = "readonly", value = Model.AuthorUserId})
        <span>Post Title</span> @Html.TextBoxFor(p => p.Title)
        <span>Post Slug</span><input type="text" name="Slug" value=@Model.Slug readonly/>
        <span>Post Content</span> @Html.TextAreaFor(p => p.Content)
        
        <input type="submit" value="submit">
    }
</div>
