﻿@using CRUD.Models
@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "Users";
}
@{
}
<div class="header">
    <h1>Your Posts</h1>
</div>

@if(Model != null && Model.Any())
{
    @foreach (var post in Model)
    {
        <h1>@Html.ActionLink("Create New Post", "Create")</h1>
        <br />
        <div class="post" id=@post.Slug>
            <h3>@Html.ActionLink(@post.Title, "Details", new {Slug = @post.Slug})</h3>
            <h6>Post Slug: @post.Slug</h6>
            <h6>Author ID: @post.AuthorUserId</h6>
        </div>
    }
}
else
{
    <h1>You have no posts yet!</h1>
    <br />
    <h5>@Html.ActionLink("Create New Post", "Create")</h5>

}
