﻿@using CRUD.Areas.Identity.Data
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h1>CRUD Users</h1>
@if(Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model) {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1>No users detected</h1>
}
